############################### Contains paths to all tools used in NanoFG ###############################

## set working directory
CWD_PATH=/home/grioni_andrea/
PATH_SV_CALLER="${CWD_PATH}/anaconda3/envs/nanosv/bin/NanoSV"
PATH_SAMTOOLS="${CWD_PATH}/anaconda3/envs/nanosv/bin/samtools"
PATH_LAST_DIR="${CWD_PATH}/anaconda3/envs/nanosv/bin/"
PATH_LAST_PARMS="${CWD_PATH}/lobby/tools/NanoFG/files/last_params"
PATH_LAST_MAFCONV="${CWD_PATH}/lobby/tools/NanoFG/scripts/maf-convert.mod.py"
PATH_WTDBG2_DIR="${CWD_PATH}/lobby/tools/wtdbg2/wtdbg2"
PATH_HOMO_SAPIENS_REFFASTA="${CWD_PATH}/lobby/reference/Homo_sapiens_Ensembl_GRCh37/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa"
PATH_HOMO_SAPIENS_REFGENOME="${CWD_PATH}/lobby/reference/Homo_sapiens_Ensembl_GRCh37/last_reference/genome"
PATH_HOMO_SAPIENS_REFDICT="${CWD_PATH}/lobby/reference/Homo_sapiens_Ensembl_GRCh37/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.dict"
PATH_PRIMER_DESIGN_DIR=""
PATH_MINIMAP2="${CWD_PATH}/anaconda3/envs/nanosv/bin/minimap2"
